<!doctype html>
<html lang="en">
<head>
    <%- include('../layouts/head'); %>

    <title>ThinkCorp - <%= post.title %></title>
</head>

<body class="bg-light">
<%- include('../layouts/navbar', {active: 'posts'}); %>

<main>
    <section>
        <div class="container py-4 py-md-5">
            <a href="/posts" class="link-info text-decoration-none fw-bold h5">
                <i class="fas fa-angle-left"></i>
                Return to Posts
            </a>
            <hr>
            <h1 class="font-slab">
                <%= post.title %>
            </h1>
            <h2 class="text-muted">
                <%= post.description %>
            </h2>
            <h4 class="mb-4">
                by <%= post.author.firstName %> <%= post.author.lastName %>
            </h4>

            <% if (user.email === post.author.email) { %>
                <button class="btn btn-primary mb-3 me-2" data-bs-toggle="modal" data-bs-target="#editModal">
                    <i class="fas fa-pencil-alt"></i>
                    Edit Post
                </button>
                <button class="btn btn-danger mb-3" data-bs-toggle="modal" data-bs-target="#deleteModal">
                    <i class="fas fa-trash"></i>
                    Delete Post
                </button>
                <br>
            <% } %>

            <% if (post.image) { %>
                <img class="w-25" src="data:image;base64,<%= post.image.toString('base64') %>" alt="<%= post.title %>">
            <% } %>

            <p>
                <%= post.content %>
            </p>
        </div>
    </section>
</main>

<!-- Edit Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Edit Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form id="createForm" method="post" action="/posts/<%= post._id %>?_method=PUT"
                      enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="createInputTitle" class="form-label">Title</label>
                        <input type="text" class="form-control" id="createInputTitle" name="title"
                               value="<%= post.title %>" required>
                    </div>
                    <div class="mb-3">
                        <label for="createInputDescription" class="form-label">Description</label>
                        <textarea class="form-control" id="createInputDescription" rows="2" name="description"
                                  required><%= post.description %></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="createInputContent" class="form-label">Content</label>
                        <textarea class="form-control" id="createInputContent" rows="3" name="content"
                                  required><%= post.content %></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="createInputImage" class="form-label">Image</label>
                        <input class="form-control" type="file" accept="image/jpeg,image/png,image/webp"
                               id="createInputImage" name="image">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn btn-success" form="createForm">Submit</button>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete Modal -->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editModalLabel">Delete Post</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this post? All of its contents will be permanently lost.
            </div>
            <div class="modal-footer">
                <a class="btn btn-danger" href="/posts/<%= post._id %>?_method=DELETE">I understand, delete this post</a>
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>

<%- include('../layouts/footer'); %>

<!-- Bundled JS: Bootstrap, jQuery, Lodash -->
<script src="/scripts/bundle.js"></script>

<!-- Page Initialization Utilities -->
<script src="/scripts/util.js">
    // shortPageFooter() - Fix the footer to the bottom for short pages
</script>

<!-- Custom JavaScript -->
<script>
    shortPageFooter();
</script>
</body>
</html>