<!doctype html>
<html lang="en">
<head>
    <%- include('../layouts/head'); %>

    <title>ThinkCorp - Profile</title>
</head>

<body class="bg-light">
<%- include('../layouts/navbar', {active: 'profile'}); %>

<main>
    <section>
        <div class="container py-4 py-md-5">
            <h1 class="font-slab mb-4">
                <i class="fa fa-user"></i>
                Profile
            </h1>

            <!-- Profile Photo -->
            <div class="row mb-3">
                <div class="col-2 offset-5">
                    <img src="data:image;base64,<%= user.profile.photo.toString('base64') %>" alt=""
                         class="img-fluid rounded-circle border border-3 border-dark">
                </div>
            </div>

            <!-- Name -->
            <h2 class="text-center"><%= `${user.firstName} ${user.lastName}` %></h2>
        </div>
    </section>
</main>

<%- include('../layouts/footer'); %>

<!-- Bundled JS: Bootstrap, jQuery, Lodash -->
<script src="/scripts/bundle.js"></script>

<!-- Page Initialization Utilities -->
<script src="/scripts/util.js">
    // shortPageFooter() - Fix the footer to the bottom for short pages
</script>

<!-- Custom JavaScript -->
<script>
    shortPageFooter();
</script>
</body>
</html>